<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        function setFormAction() {
            var form = document.getElementById('languageForm');
            form.action = window.location.pathname + window.location.search;
        }
    </script>
</head>
<body onload="setFormAction()">
<header>
    <form id="languageForm" method="get">
        <label for="languageSelector" style="position: absolute; top: 10px; left: 1090px;">Language:</label>
        <select name="lang" id="languageSelector" style="position: absolute; top: 10px; left: 1170px;" onchange="this.form.submit()">
            <option value="ko" th:selected="${#locale.language == 'ko'}">한국어</option>
            <option value="en" th:selected="${#locale.language == 'en'}">English</option>
        </select>
    </form>
</header>
</body>
</html>